<div class="col-md-5">
    <div class="panel panel-default">
        <div class="panel-heading">
            <h2 class="panel-title text-center">Join the Angular Open Source Crisis Team <span class="glyphicon glyphicon-map-marker"></span>
              </h2>
        </div>
        <div class="panel-body">
            <form name="addForm" novalidate>

                <div class="form-group">
                    <label for="username">Username <span class="badge">All fields required</span></label>
                    <input type="text" class="form-control" id="username" placeholder="You SuperHero ..." ng-model="formData.username" required>
                </div>
                <label class="radio control-label">Gender</label>
                <div class="radio">
                    <label>
                    <input type="radio" name="optionsRadio" id="radiomale" value="Male" ng-model="formData.gender">
                    Male
                  </label>
                </div>
                <div class="radio" required>
                    <label>
                <input type="radio" name="optionsRadio" id="radiofemale" value="Female" ng-model="formData.gender">
                  Female
              </label>
                </div>
                <div class="radio">
                    <label>
                 <input type="radio" name="optionsRadio" id="radioandroid" value="Android" ng-model="formData.gender">
                 Android
               </label>
                </div>

                <div class="form-group">
                    <label for="age">Age</label>
                    <input type="number" class="form-control" id="age" placeholder="42" ng-model="formData.age" required>
                </div>
                <div class="form-group">
                    <label for="language">Favorite Code</label>
                    <input type="text" class="form-control" id="language" placeholder="Angular" ng-model="formData.favLang" required>
                </div>
                <div class="form-group">
                    <label for="email">Email</label>
                    <input type="email" class="form-control" id="language" placeholder="you@sexycode.com" ng-model="formData.email" required>
                </div>
                <div class="form-group">
                    <label for="hangout">Start a Hangout</label>
                    <a href="http://hangouts.google.com/start" target="_blank" class="form-control btn btn-danger">http://hangouts.google.com/start</a>
                </div>
                <div class="form-group">
                    <label for="latitude">Latitude</label>
                    <input type="text" class="form-control" id="latitude" placeholder="52.4977581" ng-model="formData.latitude" readonly>
                </div>
                <div class="form-group">
                    <label for="longitude">Longitude</label>
                    <input type="text" class="form-control" id="longitude" placeholder="13.4471495" ng-model="formData.longitude" readonly>
                </div>
                <div class="form-group">

                    <label for="verified">HTML5 Verified Location?
<span><button class="btn btn-default btn-xs">
<span class="glyphicon glyphicon-refresh"></span>
</button></span>
</label>
                    <input type="text" class="form-control" id="verified" placeholder="stalk and spam my map ... (gotcha triangled)" ng-model="formData.htmlVerfied" readonlys>
                </div>
                <button type="submit" ng-click="createUser()" class="btn btn-danger btn-block" ng-disabled="addForm.$invalid">Submit</button>
            </form>
        </div>
    </div>
</div>
