<div class="col-md-5">
    <div class="panel panel-default">
        <div class="panel-heading">
            <h2 class="panel-title text-center">Find Teammates! (Map Query) <span class="glyphicon glyphicon-map-marker"></span>
              </h2>
        </div>
        <div class="panel-body">

            <form name="queryForm">


              <div class="form-group">
                  <label for="latitude">Your Latitude</label>
                  <input type="text" class="form-control" id="latitude" placeholder="52.4977581" ng-model="formData.latitude" readonly>
              </div>
              <div class="form-group">
                  <label for="longitude">Your Longitude</label>
                  <input type="text" class="form-control" id="longitude" placeholder="13.4471495" ng-model="formData.longitude" readonly>
              </div>

                <div class="form-group">
                    <label for="distance">Max. Distance (miles)</label>
                    <input type="text" class="form-control" id="distance" placeholder="100" ng-model="formData.distance">
                </div>
                <label>Gender</label>
                <div class="form-group">
                    <label class="checkbox-inline">
                    <input type="checkbox" name="optionsRadio" id="checkmale" value="Male" ng-model="formData.male" ng-true-value="'Male'">
                    Male
                  </label>
                <label class="checkbox-inline">
                <input type="checkbox" name="optionsRadio" id="checkfemale" value="Female" ng-model="formData.female" ng-true-value="'Female'">
                  Female
              </label>
                <label class="checkbox-inline">
                 <input type="checkbox" name="optionsRadio" id="checkandroid" value="Android" ng-model="formData.android" ng-true-value="'Android'">
                 Android
               </label>
                </div>
                <div class="form-group">
                    <label for="minage">Min. Age</label>
                    <input type="number" class="form-control" id="minage" placeholder="1" ng-model="formData.minage">
                </div>
                <div class="form-group">
                    <label for="maxage">Max Age</label>
                    <input type="number" class="form-control" id="maxage" placeholder="100" ng-model="formData.maxage">
                </div>
                <div class="form-group">
                    <label for="favlang">Favorite Code</label>
                    <input type="text" class="form-control" id="favlang" placeholder="Angular" ng-model="formData.favLang">
                </div>
                <div class="form-group">
                  <div class="checkbox">
                    <label>
                      <input type="checkbox" name="verified" id="checkverfied" value="true" ng-model="formData.verified">
                      <strong>include only HTML5 verified locations?</strong>
                    </label>
                  </div>
                </div>
                <button type="submit" ng-click="queryUsers()" class="btn btn-danger btn-block">Search</button>
            </form>
        </div>

        <div ng-show="queryCount > 0" class="panel-footer">
            <p class="text-center">Super Awesome! We have found {{queryCount}} Teammates.</p>
        </div>
    </div>
</div>
